html, body {
    margin: 0;
    height: 100%;
  }
  
  #canvas {
    width: 100%;
    height: 100%;
    display: block;
  }

  #overlay-text {
    font-style: italic;
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(157, 157, 157);
    -webkit-text-stroke-width: 0.2px;
    text-shadow: 2px 2px 10px #2962ff;
    text-align: center;
    letter-spacing: 0.2em;
    animation: blink 3s linear infinite; 
    font-size:20px
}

@media (max-width: 768px) {
    #overlay-text {
        font-size: 0.5em;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.2;
    }
}


#emotion-container {
    text-align: center;
    margin-top: 10px;
    position: absolute; 
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%);
    /* color: rgb(100, 100, 100); */
}


.emotion-col{
    display:inline-block;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    margin:40px;




}


.highlight {
    color: whitesmoke; /* Or any bright color of your choice */
    /* font-weight: bold; */
}


.label{
margin-bottom:20px;
font-size:20px;

}
